---
import Layout from '../layouts/Layout.astro';
import { LoginForm } from '../components/LoginForm';
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '../components/ui/Card';
---

<Layout title="Sign In - Knowledge Base" currentPath="/login">
  <div class="mx-auto w-full max-w-md">
    <Card>
      <CardHeader>
        <CardTitle>Sign in</CardTitle>
        <CardDescription>Access your knowledge base workspace.</CardDescription>
      </CardHeader>
      <CardContent>
      <LoginForm client:load />
      </CardContent>
    </Card>
  </div>
</Layout>
