---
import Layout from '../layouts/Layout.astro';
import { RegisterForm } from '../components/RegisterForm';
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '../components/ui/Card';
---

<Layout title="Create Account - Knowledge Base" currentPath="/register">
  <div class="mx-auto w-full max-w-md">
    <Card>
      <CardHeader>
        <CardTitle>Create account</CardTitle>
        <CardDescription>Set up access to the knowledge base workspace.</CardDescription>
      </CardHeader>
      <CardContent>
      <RegisterForm client:load />
      </CardContent>
    </Card>
  </div>
</Layout>
